Repository jeon-seongjae/Team-Lvl-Todo, pull requests merged in 2021-12, with the labels that each got.

#22 Add/#21 db관계설정및테이블생성
  server/ormconfig.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/entities/Todo.ts
  server/src/entities/Users.ts
  server/src/main.ts
  server/src/todo/todo.module.ts
  server/src/user/user.module.ts
  server/webpack-hmr.config.js
Labels: add, server, database

#25 add - edit: createApiDocs -Closes #23
  server/package-lock.json
  server/package.json
  server/src/entities/Users.ts
  server/src/main.ts
  server/src/todo/todo.controller.ts
  server/src/user/user.controller.ts
Labels: add, server

#31 Add #30 - edit: api내용추가및유효성검증
  server/package-lock.json
  server/package.json
  server/src/common/dto/user.dto.ts
  server/src/entities/Todo.ts
  server/src/entities/Users.ts
  server/src/httpException.filter.ts
  server/src/main.ts
  server/src/todo/dto/create-todo.dto.ts
  server/src/todo/todo.controller.ts
  server/src/user/dto/create-user.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: add, server

#35 Add #34 - edit: 회원가입기능구현현
  server/package-lock.json
  server/package.json
  server/src/common/decorators/token.decorator.ts
  server/src/common/decorators/user.decorator.ts
  server/src/common/interceptors/undefinedToNull.interceptor.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: add, server, database

#38 Edit/#37 todo component
  client/components/todo/Todo.tsx
  client/components/todo/Todos.tsx
Labels: fix, client

#42 feature #24 - edit: passport도입및기능구현
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/constants.ts
  server/src/auth/jwt-auth.guard.ts
  server/src/auth/jwt.strategy.ts
  server/src/auth/local-auth.Guard.ts
  server/src/auth/local.strategy.ts
  server/src/user/dto/login-user.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: Feature, server, database

#44 Add #43 - edit: Todo기능구현및마무리
  server/.env.dev
  server/.env.prod
  server/.gitignore
  server/ormconfig.ts
  server/package-lock.json
  server/package.json
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/common/decorators/token.decorator.ts
  server/src/common/dto/token.dto.ts
  server/src/common/dto/user.dto.ts
  server/src/common/interceptors/undefinedToNull.interceptor.ts
  server/src/entities/Todo.ts
  server/src/entities/Users.ts
  server/src/main.ts
  server/src/todo/dto/create-todo.dto.ts
  server/src/todo/dto/select-todo.dto.ts
  server/src/todo/dto/update-todo.dto.ts
  server/src/todo/todo.controller.ts
  server/src/todo/todo.module.ts
  server/src/todo/todo.service.ts
  server/src/user/dto/update-user.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: add, server, database

#46 Add #45 - edit: 예외처리추가및helmet적용
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/todo/todo.service.ts
  server/src/user/user.controller.ts
Labels: add, server

#48 Add #47 - edit: TodoFilter
  server/src/auth/auth.service.ts
  server/src/todo/todo.controller.ts
  server/src/todo/todo.service.ts
Labels: add, server, database

#54 Add #53 - edit: addRefreshToken
  server/package-lock.json
  server/package.json
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/common/decorators/token.decorator.ts
  server/src/entities/Users.ts
  server/src/main.ts
  server/src/user/user.controller.ts
Labels: add, server, database

#56 Backend
  server/.env.dev
  server/.env.prod
  server/.gitignore
  server/ormconfig.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/constants.ts
  server/src/auth/jwt-auth.guard.ts
  server/src/auth/jwt.strategy.ts
  server/src/auth/local-auth.Guard.ts
  server/src/auth/local.strategy.ts
  server/src/common/decorators/token.decorator.ts
  server/src/common/decorators/user.decorator.ts
  server/src/common/dto/token.dto.ts
  server/src/common/interceptors/undefinedToNull.interceptor.ts
  server/src/entities/Todo.ts
  server/src/entities/Users.ts
  server/src/httpException.filter.ts
  server/src/main.ts
  server/src/todo/dto/create-todo.dto.ts
  server/src/todo/dto/select-todo.dto.ts
  server/src/todo/todo.controller.spec.ts
  server/src/todo/todo.controller.ts
  server/src/todo/todo.module.ts
  server/src/todo/todo.service.spec.ts
  server/src/todo/todo.service.ts
  server/src/user/dto/create-user.dto.ts
  server/src/user/dto/login-user.dto.ts
  server/src/user/user.controller.spec.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.spec.ts
  server/src/user/user.service.ts
  server/tsconfig.json
  server/webpack-hmr.config.js
Labels: server

#58 Add #55 - edit: reissuance_accessToken
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/common/decorators/header.decorator.ts
  server/src/common/dto/token.dto.ts
  server/src/main.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
  server/src/user/user.service.ts
Labels: add, server, database

#63 Add #62 - edit:addLogger
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/todo/todo.controller.ts
  server/src/user/user.controller.ts
Labels: add, server

#64 Backend
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/todo/todo.controller.ts
  server/src/user/user.controller.ts
Labels: add, server

#66 Add #65 - edit: addFavoritesFlag
  server/src/entities/Todo.ts
  server/src/todo/dto/favoritesId.dto.ts
  server/src/todo/todo.controller.ts
  server/src/todo/todo.service.ts
Labels: add, server, database

#67 Backend
  server/src/entities/Todo.ts
  server/src/todo/dto/favoritesId.dto.ts
  server/src/todo/todo.controller.ts
  server/src/todo/todo.service.ts
Labels: add, server, database
